.input {
    width: 282px;
    height: 42px;
    border-radius: var(--space-4xs);
    background: var(--color-white);
    padding: 11px var(--space-xs);
    outline-color: var(--color-pacific-blue);
}